.ResgisterPageScaffold {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .container {
    margin-top: 3vh;
    width: 60vw;
    height: 70vh;
    border: none;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255, 0.49);
    box-shadow: rgb(0, 0, 0, 0.25) 0px 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    opacity: 0%;
    animation: fadeIn 1s ease forwards 0.7s;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      height: 7vh;
      width: 50vw;
      border: none;
      border-radius: 1rem;
      background-color: white;

      font-family: "Song Myung", serif;
      font-size: 1.5rem;

      margin: 1.5vh;
      padding: 2rem;

      box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
    }
    .checkPassword {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      svg {
        z-index: 1;
        position: absolute;
        transform: translatex(-2.3rem);
      }
    }

    button {
      margin: 1.5vh;
      font-family: "Song Myung", serif;
      font-size: 1.2rem;
      height: 5.8vh;
      width: 12vw;
      border: none;
      border-radius: 1rem;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;

      transition: box-shadow 0.7s;
    }
    button:hover {
      box-shadow: rgba(0, 0, 0, 0.8) 0 4px 8px;
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
