.SelectPageScaffold {
  // opacity: 0%;
  // animation: fadeIn 1.5s ease forwards 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pageNum {
    margin-top: 5vh;
    button {
      margin-left: 1vh;
      margin-right: 1vh;
      font-size: 2rem;
      text-decoration: none;
      background: none;
      border: none;
      font-family: "Song Myung", serif;
    }
    button:hover {
      cursor: pointer;
    }
  }

  div:nth-child(1) {
    opacity: 0%;
    animation: fadeIn 1s ease forwards 0.5s;
  }
  div:nth-child(2) {
    opacity: 0%;
    animation: fadeIn 1s ease forwards 0.8s;
  }
  div:nth-child(3) {
    opacity: 0%;
    animation: fadeIn 1s ease forwards 1.1s;
  }
  div:nth-child(4) {
    opacity: 0%;
    animation: fadeIn 1s ease forwards 1.4s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
